/* regole di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1, p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* regola da assegnare alle float cards */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.page-header {
    padding: 50px;
    text-align: center;
}

.title{
    font-size: 36px;
    font-weight: 700;
    color: pink;
    padding-bottom: 50px;
}

.description {
    font-size: 24px;
}

/* .col, .card, .card-img, .card-text{
    border: 2px solid black;
} */

.col {
    float: left;
    width: calc(100% / 3);
    padding: 10px 10px 10px 0;
}

.row .col:last-child {
    padding-right: 0;
} 
/* formattazione sballata */


.card {
    overflow: hidden;
    background-color: navy;
    margin: 20px 0;
    box-shadow: 0 0 20px 1px lightgray;
}

/* dentro la card */
.card-img {
    float: left;
    width: calc(100% / 3);
    height: 50px; 
    /* poichè ho ragionato per colonne, devo assicurarmi
    che le img fossero tutte stessa altezza */
}

.card-text {
    float: right;
    width: 60%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
}

.card-text p {
    padding: 1px 0;
    color: white;
}

.card-text .card-name {
    font-weight: 700;
}

.card-text .card-mail {
    color: aqua;
}