/* regole di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid black;
}

/* regola da assegnare alle float cards */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    padding: 50px;
}

.col, .card, .card-img{
    border: 2px solid black;
    padding: 20px;
}

.col {
    float: left;
    width: calc(100% / 3)
}

.card {
    overflow: hidden;
}

/* dentro la card */
.card-img {
    width: 30%;
    float: left;
}